# Node
node_modules
dist

# Java
target/
bin/
data/
.m2/
*.mv.db
*.trace.db

# Env
.env*
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log
# --- Frontend (Ignorar por enquanto) ---
techregistry-web/

# --- Java/Maven ---
backend/techregistry-api/target/
backend/techregistry-api/.mvn/
backend/techregistry-api/mvnw
backend/techregistry-api/mvnw.cmd